name: trainer-service

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Restart Service on Port 8081
      run: |
        # Kill existing process using port 8081
        PID=$(sudo lsof -t -i:8081)
        if [ ! -z "$PID" ]; then
          echo "Killing process on port 8081 (PID = $PID)"
          sudo kill -9 $PID
        fi

        # Run the new jar
        echo "Starting new JAR..."
        sudo nohup java -jar ./target/trainer-service-0.0.1-SNAPSHOT.jar > app.log 2>&1 &
